@font-face {
  font-family: 'Wix Madefor Display';
  src:
    url(./WixMadeforDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  src:
    url(./WixMadeforDisplay-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Book Antiqua';
  src:
    url(./BookAntiqua.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Book Antiqua';
  src:
    url(./BookAntiqua-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}